
body{
   background-color:#FFF;
   color:#141B33;
   margin:0;
}

h2{
   font-family: 'Cinzel', serif;
   font-weight:400;
   color:#008cba;
}

h3{
   font-family: 'Cinzel', serif;
   font-weight:400;
   color:#008cba;
}

nav{
    width:15%;
    float:left;
    margin:0 0 0 10xp;
}

nav a{
    display:block;
    text-decoration:none;
    color:#FFF;
    background:#008cba;
    text-align:center;
    height:40px;
    line-height:inherit;
    margin:0 0 20px 0;
 /*   padding:17.5px 0 0 0; */
}

.wrap{
    width:60%;
    float:left;
    margin:0 0 0 100px;
}

header{
    padding: 20px 10px;
    background-image:url("../img/triangular.jpg");
    margin:0 auto 30px auto;
}

 header img{
    width:400px;
}