
body{
   background-color:#FFF;
   color:#141B33;
   margin:0;
}

h2{
   font-family: 'Cinzel', serif;
   font-weight:400;
   color:#008cba;
}

h3{
   font-family: 'Cinzel', serif;
   font-weight:400;
   color:#008cba;
}

nav{
    width:15%;
    float:left;
    margin:0 0 0 10xp;
}